<md-list-item class="md-3-line" ui-sref="app.portfolios.details({ id: portfoliosListItemCtrl.portfolio.id })">
    <div class="md-list-item-text" layout="column">
        <h3>{{ portfoliosListItemCtrl.portfolio.name }}</h3>
        <p>
            Value: {{ portfoliosListItemCtrl.portfolio.value | currency }}
        </p>
        <p>
            Change:
            <span ng-class="{'trend-up': portfoliosListItemCtrl.portfolio.change >= 0, 'trend-down': portfoliosListItemCtrl.portfolio.change < 0}">
                {{ portfoliosListItemCtrl.portfolio.change | currency }} 
                ({{ portfoliosListItemCtrl.portfolio.changePct | number:2 }}%)
            </span>
        </p>
    </div>
</md-list-item>