<div layout="column" layout-fill ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1>
                <span>StockObservr: money never sleeps!</span>
            </h1>
            <span flex></span>
            <!-- fill up the space between left and right area -->
            <md-button 
                class="md-primary md-raised" 
                ng-click="appCtrl.toggleStockPicker()" 
                ng-hide="appCtrl.isStockPickerOpen()">
                Buy Stock
            </md-button>
        </div>
    </md-toolbar>
    <div flex layout="row">
        <md-sidenav
            class="md-sidenav-left"
            md-component-id="portfolios"
            md-is-locked-open="true"
            md-whiteframe="4">
            <portfolios-list></portfolios-list>
        </md-sidenav>
        <div flex>
            <portfolio-details></portfolio-details>
        </div>
        <md-sidenav 
            class="md-sidenav-right md-whiteframe-4dp" 
            md-component-id="stockPicker" 
            md-disable-backdrop="false">
            <stock-picker close="appCtrl.toggleStockPicker()"></stock-picker>
        </md-sidenav>
    </div>
</div>